:root {
    /* Primary Headers */
  --slate: #757a6e; 

  --ocean: #3e6f86;
    /* Accents */
  --cloud: #ebebeb;
  --stone: #b5b5aa;
  --amber: #f09c2e;
}

Target dataframe directly
[data-testid="stDataFrame"] {
    border: 2px solid var(--amber);
    border-radius: 12px;
    padding: 2px;
}

.element-container:has(> div.slate) {
    border: 4px solid  var(--slate);
    border-radius: 5px;
    padding: 15px;
}

.element-container:has(> div.ocean) {
    border: 4px solid  var(--ocean);
    border-radius: 5px;
    padding: 15px;
}
