:root {
    /* Primary Headers */
  --slate: #757a6e; 
  --stone: #b5b5aa;
  --ocean: #3e6f86;
  /* Accents */
  --cloud: #ebebeb;
  --amber: #f09c2e;
}

/*  Tables */
table {
    font-size: 14px;
    width: 100%;
    overflow: hidden;
    border-collapse: separate;
    border-radius: 8px;
    background-color: white;
}

.open-calls {
    outline: 4px solid var(--amber);
    border-color: var(--amber);
}

.open-calls th {
    font-size: 16px;
    border-color: var(--amber);
    background-color: var(--amber);
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
}

.open-calls td {
    border-color: var(--amber);
}



/*  Event Pills */
.event-pill {
    display: inline-block;
    padding: 0px 8px;
    margin: 4px 0px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 600;
}

.pill-call {
    background: white;

    border: 2px solid var(--amber);
}

.pill-priority {
    background: var(--amber);
    color: white;
    border: 2px solid var(--amber);
}

.pill-present {
    background: var(--slate);
    color: white;
    border: 2px solid var(--slate);
}

.pill-emergency {
    background: red;
    color: white;
    border: 2px solid red;
}

.pill-reset {
    background: white;
 
    border: 2px solid var(--slate);
}

.pill-assistance {
    background: var(--ocean);
    color: white;
    border: 2px solid var(--slate);
}

.pill-anomaly {
    background: white;
    color: red;
    border: 2px solid red;
}
