:root {
  --slate: #757a6e;
  --stone: #b5b5aa;
  --cloud: #ebebeb;
  --amber: #f09c2e;
  --ocean: #3e6f86;
}


/*  Tables */
table {
    font-size: 14px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    border: 4px solid;
    overflow: hidden;
    background-color: white;
    box-shadow: 1px 2px 4px rgba(1,2,3,.4);
}

.open-calls, .open-calls td, .open-calls th  {
    border-color: var(--amber);
}

.call-summary , .call-summary  td, .call-summary  th  {
    border-color: var(--slate);
}

.open-calls th {
    font-size: 16px;
    background-color: var(--amber);
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
}

.call-summary th {
    font-size: 16px;
    background-color: var(--slate);
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
}


/*  Event Pills */
.event-pill {
    display: inline-block;
    padding: 0px 8px;
    margin: 4px 0px;
    border-radius: 9999px;
    font-size: 12px;
    font-weight: 600;
}

.pill-call {
    background: white;

    border: 2px solid var(--amber);
}

.pill-priority {
    background: var(--amber);
    color: white;
    border: 2px solid var(--amber);
}

.pill-present {
    background: var(--slate);
    color: white;
    border: 2px solid var(--slate);
}

.pill-emergency {
    background: red;
    color: white;
    border: 2px solid red;
}

.pill-reset {
    background: white;
 
    border: 2px solid var(--slate);
}

.pill-assistance {
    background: var(--ocean);
    color: white;
    border: 2px solid var(--slate);
}

.pill-anomaly {
    background: white;
    color: red;
    border: 2px solid red;
}
